body { 
	color: red;
	font-size: 40px;
	text-align:center
}

div .a {
	line-height: 0;
}
div .b {
	text-align:center
}
div .p {
	line-height: 0.1;
	top: 30px;
	color: white;
	font-family:Arial;
	font-size: 12px;
}

.serif {
  font-family: "Times New Roman", Times, serif; 
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif; 
}

body {
  background-color: #242424; 
}

.button {
	background:linear-gradient(to bottom, #424242 5%, #424242 100%);
	background-color:#424242;
	border-radius:4px;
	border:1px solid #424242;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:7px 10px;
	text-decoration:none;
}
.button:hover {
	background:linear-gradient(to bottom, #424242 5%, #424242 100%);
	background-color:#424242;
}
.button:active {
	position:relative;
	top:1px;
}

div .bruh {
	background-color: #424242;
	width: 600px;
	border-radius:5px;
	top: 10px;
	border: 15px;
	text-align: left;
	padding: 30px;
	bottom: 10px;
	margin: auto;
	font-family:Arial;
	color: white;
	font-size: 13px;
}

div .post {
	background-color: #424242;
	width: 800px;
	border-radius:5px;
	border: 15px;
	text-align: left;
	padding: 30px;
	margin: auto;
	font-family:Arial;
	color: white;
	line-height: 0.1;
	font-size: 13px;
}

.postfont1 {
	text-decoration: none;
	font-family:Arial;
	font-size:15px;
}

.postfont2 {
	font-family:Arial;
	font-size:10px;
}


a:link {
  color: white;}

a:visited {
  color: white;}

a:hover {
  color: #e3e3e3;}


a:active {
  color: #e3e3e3;}
}